.choice-container{
    padding: 15px 30px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(90deg,#4EAADF,#01E6C2) 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text{
    bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.choice-container img{
    cursor: pointer;
}